.h1-label {
  padding: 10px 30px;
}
.h2-label {
  padding: 0 30px;
}
.quote {
  display: flex;
  width: 100%;
}
q {
  font-style: italic;
  font-size: 1.4rem;
  text-align: center;
  margin: 0 auto;
}
.locus-inline-image_heading {
  position: relative;
  fill: red;
  transform: translate(0, 4px);
  transition: all 300ms ease;
  width: 120px;
}
.locus-inline-image {
  position: relative;
  fill: red;
  top: 4px;
  transition: all 300ms ease;
  width: 53px;
}
.about-descriptor {
  padding: 10px 30px;
}
.artist-cards {
  display: flex;
  flex-wrap: row wrap;
}
.artist-card {
  width: 250px;
  max-width: 250px;
  height: 250px;
  max-height: 250px;
  margin: 10px 30px;
  perspective: 500px;
}
.artist-card__inner {
  position: relative;
  background: white;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.5);
  width: 230px;
  height: 230px;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}
.artist-card:hover .artist-card__inner {
  transform: rotateY(180deg);
}
.artist-card__front,
.artist-card__back {
  display: flex;
  justify-content: center;
  align-items: start;
  transform: translate(10px, 10px);
  position: absolute;
  width: calc(100%-10px);
  height: calc(100%-10px);
  backface-visibility: hidden;
}
.artist-card__front {
  width: 210px;
  height: 210px;
  max-height: 220px;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}
.artist-card__back {
  padding: 10px;
  transform: rotateY(180deg);
}
.artist-name,
.artist-instrument {
  font-family: var(--default-heading-font);
}
.artist-description {
  font-size: 0.9rem;
  margin-top: 10px;
}
.artist-image {
  width: 100%;
  border-radius: 5px;
}
